
<div class="table-wrapper" >
    <table class="fl-table" >
    
        <tbody>
            <thead>
                <tr>
                    <td>Pages</td>
                    <td>Views</td>

                </tr>
            </thead>
        <tr *ngFor= "let item of pages; let i=index">
            <td>{{item}}</td>
            <td>{{view[i]}}</td>
            
        </tr>
       <!--  <tr>
            <td>Content 2</td>
            
        </tr>
        <tr>
            <td>Content 3</td>
           
        </tr>
        <tr>
            <td>Content 4</td>
       
        </tr>
        <tr>
            <td>Content 5</td>
           
        </tr>
        <tr>
            <td>Content 6</td>
          
        </tr>
        <tr>
            <td>Content 7</td>
     
        </tr>
        <tr>
            <td>Content 8</td>
        
        </tr>
        <tr>
            <td>Content 9</td>
          
        </tr>
        <tr>
            <td>Content 10</td>
         
        </tr> -->
        <tbody>
    </table>

</div>
<h3>Pages Visited</h3>