/* You can add global styles to this file, and also import other style files */


*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width:100%;
}


body{

    font-family: 'Ubuntu', sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');